[submodule "app/imgui_bundle"]
	path = app/imgui_bundle
	url = https://github.com/vertexi/imgui_bundle
	branch = life-controller
[submodule "app/tray"]
	path = app/tray
	url = https://github.com/vertexi/tray
[submodule "app/abseil-cpp"]
	path = app/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "app/doctest"]
	path = app/doctest
	url = https://github.com/doctest/doctest
[submodule "app/imlottie"]
	path = app/imlottie
	url = https://github.com/vertexi/imlottie
[submodule "app/fonts/character_set"]
	path = app/fonts/character_set
	url = https://github.com/vertexi/character_set
